<header class="header">
    <div class="container">
        <nav class="nav">
            <a class="nav__logo logo int" href="index.html">
                <img class="logo__img" src="images/logo.svg" width="137" height="55" alt="Логотип клининговой компании">
            </a>
            <button class="menu-btn" type="button">
                <span class="menu-btn__line"></span>
            </button>
            <div class="nav__menu">
                <button class="nav__close-btn" type="button"></button>
                <ul class="menu">
                    <li class="menu__item">
                        <a class="menu__link int" href="#">Головна</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link int" href="#">Послуги</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link int" href="#">Про нас</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link int" href="#">Наші роботи</a>
                    </li>
                    <li class="menu__item menu__item--details">
                        <details class="menu__info">
                            <summary class="menu__summary">Контакти</summary>
                            <p class="menu__text">+38 063 000 00 00</p>
                        </details>
                    </li>
                    <li class="menu__item menu__item--details">
                        <details class="menu__info">
                            <summary class="menu__summary">Часи роботи</summary>
                            <p class="menu__text">З 8:00 до 20:00</p>
                        </details>
                    </li>
                    <li class="menu__item menu__item--lang">
                        <a class="menu__link menu__link--lang int" href="index.html">ua</a>
                    </li>
                    <li class="menu__item menu__item--lang">
                        <a class="menu__link menu__link--lang int" href="index-ru.html">rus</a>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <a class="contact__tell int" href="tel:+380630000000">
                    +38 063 000 00 00
                </a>
                <span class="contact__time">З 8:00 до 20:00</span>
            </div>
        </nav>
    </div>
</header>