<section class="prise">
    <div class="container">
        <h2 class="title">Вартість послуг</h2>
        <p class="prise__subtitle">
            Тут Ви можете ознайомитись із приблизною вартістю робіт. У зв'язку з тим, що вимоги до збирання
            різні, а стан квартир відрізняється один від одного, точну вартість робіт розрахує менеджер
            індивідуально для вас.
        </p>
        <div class="prise__inner">
            <ul class="prise__buttons">
                <li class="prise__btn">
                    1
                    <span class="prise__btn-text">кімнатна</span>
                </li>
                <li class="prise__btn">
                    2
                    <span class="prise__btn-text">кімнатна</span>
                </li>
                <li class="prise__btn">
                    3
                    <span class="prise__btn-text">кімнатна</span>
                </li>
                <li class="prise__btn">+
                    4
                    <span class="prise__btn-text">кімнатна</span>
                </li>
            </ul>
        </div>
        <div class="prise__content">
            <ul class="prise__wrap">
                <li class="prise__item">
                    <div class="prise__wrapper">
                        <article class="prise-card">
                            <h3 class="prise-card__title">
                                Мінімальна ціна
                                <span class="prise-card__subtitle">
                                    (стандартне прибирання) 1-2 співробітники від 4 годин
                                </span>
                            </h3>
                            <ul class="prise-card__list" style="background-image: url('../../images/Group1.svg');">
                                <li class="prise-card__item">
                                    Повний пакет миючих засобів
                                </li>
                                <li class="prise-card__item">
                                    Необхідний комплект обладнання та техніки
                                </li>
                            </ul>
                            <span class="prise-card__cost">≈ 1 500,0 грн</span>
                        </article>
                        <article class="prise-card">
                            <h3 class="prise-card__title">
                                Мінімальна ціна
                                <span class="prise-card__subtitle">
                                    (стандартне прибирання) 2-3 співробітники від 6 годин
                                </span>
                            </h3>
                            <ul class="prise-card__list" style="background-image: url('../../images/Group2.svg');">
                                <li class="prise-card__item">
                                    Розширений пакет миючих засобів
                                </li>
                                <li class="prise-card__item">
                                    Повний комплект обладнання та техніки
                                </li>
                                <li class="prise-card__item">
                                    Додаткова дезінфекція
                                </li>
                            </ul>
                            <span class="prise-card__cost">≈ 2 800,0 грн</span>
                        </article>
                    </div>
                </li>
                <li class="prise__item">
                    <div class="prise__wrapper">
                        <article class="prise-card">
                            <h3 class="prise-card__title">
                                Мінімальна ціна
                                <span class="prise-card__subtitle">
                                    (стандартне прибирання) 2 співробітники від 5 годин
                                </span>
                            </h3>
                            <ul class="prise-card__list" style="background-image: url('../../images/Group3.svg');">
                                <li class="prise-card__item">
                                    Повний пакет миючих засобів
                                </li>
                                <li class="prise-card__item">
                                    Необхідний комплект обладнання та техніки
                                </li>
                            </ul>
                            <span class="prise-card__cost">≈ 2 200,0 грн</span>
                        </article>
                        <article class="prise-card">
                            <h3 class="prise-card__title">
                                Мінімальна ціна
                                <span class="prise-card__subtitle">
                                    (стандартне прибирання) 2-3 співробітники від 6 годин
                                </span>
                            </h3>
                            <ul class="prise-card__list" style="background-image: url('../../images/Group4.svg');">
                                <li class="prise-card__item">
                                    Розширений пакет миючих засобів
                                </li>
                                <li class="prise-card__item">
                                    Повний комплект обладнання та техніки
                                </li>
                                <li class="prise-card__item">
                                    Додаткова дезінфекція
                                </li>
                            </ul>
                            <span class="prise-card__cost">≈ 3 800,0 грн</span>
                        </article>
                    </div>
                </li>
                <li class="prise__item">
                    <div class="prise__wrapper">
                        <article class="prise-card">
                            <h3 class="prise-card__title">
                                Мінімальна ціна
                                <span class="prise-card__subtitle">
                                    (стандартне прибирання) 2-3 співробітники від 6 годин
                                </span>
                            </h3>
                            <ul class="prise-card__list" style="background-image: url('../../images/Group5.svg');">
                                <li class="prise-card__item">
                                    Повний пакет миючих засобів
                                </li>
                                <li class="prise-card__item">
                                    Необхідний комплект обладнання та техніки
                                </li>
                            </ul>
                            <span class="prise-card__cost">≈ 3 000,0 грн</span>
                        </article>
                        <article class="prise-card">
                            <h3 class="prise-card__title">
                                Мінімальна ціна
                                <span class="prise-card__subtitle">
                                    (стандартне прибирання) 3-4 співробітники від 7 годин
                                </span>
                            </h3>
                            <ul class="prise-card__list" style="background-image: url('../../images/Group6.svg');">
                                <li class="prise-card__item">
                                    Розширений пакет миючих засобів
                                </li>
                                <li class="prise-card__item">
                                    Повний комплект обладнання та техніки
                                </li>
                                <li class="prise-card__item">
                                    Додаткова дезінфекція
                                </li>
                            </ul>
                            <span class="prise-card__cost">≈ 5 500,0 грн</span>
                        </article>
                    </div>
                </li>
                <li class="prise__item">
                    <div class="prise__wrapper">
                        <article class="prise-card">
                            <h3 class="prise-card__title">
                                Мінімальна ціна
                                <span class="prise-card__subtitle">
                                    (стандартне прибирання) 3-4 співробітники від 6 годин
                                </span>
                            </h3>
                            <ul class="prise-card__list" style="background-image: url('../../images/Group7.svg');">
                                <li class="prise-card__item">
                                    Повний пакет миючих засобів
                                </li>
                                <li class="prise-card__item">
                                    Необхідний комплект обладнання та техніки
                                </li>
                            </ul>
                            <span class="prise-card__cost">≈ 3 500,0 грн</span>
                        </article>
                        <article class="prise-card">
                            <h3 class="prise-card__title">
                                Мінімальна ціна
                                <span class="prise-card__subtitle">
                                    (стандартне прибирання) 4-5 співробітники від 7 годин
                                </span>
                            </h3>
                            <ul class="prise-card__list" style="background-image: url('../../images/Group8.svg');">
                                <li class="prise-card__item">
                                    Розширений пакет миючих засобів
                                </li>
                                <li class="prise-card__item">
                                    Повний комплект обладнання та техніки
                                </li>
                                <li class="prise-card__item">
                                    Додаткова дезінфекція
                                </li>
                            </ul>
                            <span class="prise-card__cost">≈ 6 500,0 грн</span>
                        </article>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>